.idea
.history
int/target/
node_modules
project/target
svc/logs
svc/target/
svc/test/webapp/unit/test-results.xml
svc/test/webapp/unit/reports
svc/test/java/integration/logs
svc/public/app/**/*.js
svc/public/app/**/*.js.map
svc/public/**/*.css
svc/public/**/*.css.map
target/
testsetup/logs
testsetup/target
test-e2e-results
/svc/test/report/e2e/*.json
/project/project
*.log
