form {
  button {
    width: 100%;
    margin-top: 5px;
  }

  div {
    margin-top: 2px;
    &.input-group {
      margin-top: 5px;
    }
  }

  a {
    color: #122b40;
  }
}

.box {
  margin: 5px 0 5px 0;
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px;
}
