@import "../../../../resource/variables";
@import "auth-config";

$image-path: "../../../../resource/image";

$header-height: 100px;
$footer-height: 50px;

.user-auth {
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  background-color: $brand-color;

  header {
    width: 100%;
    max-width: $max-width;
    height: $header-height;
    background: url("#{$image-path}/logo_atos_white.svg") 5px center no-repeat;
    background-size: 150px;
    color: white;

    h1 {
      position: relative;
      padding: 0 0 0 170px;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: $break-width) {
        font-size: 24pt;
      }

      @media (max-width: $min-break-width) {
        font-size: 18pt;
      }
    }
  }

  main {
    flex: 1;
    background: url("#{$image-path}/bg.jpg") left top no-repeat;
    background-size: cover;
    top: $header-height;
  }

  footer {
    height: $footer-height;
    div {
      * {
        vertical-align: baseline;
      }
      padding: 5px;
      max-width: $max-width;
      color: white;
      font-size: 12pt;
      margin: 10px auto auto auto;
      text-align: center;
    }
  }
}




