@import "auth-config";

div {
  max-width: $max-width;
  margin: 100px auto auto auto;
  padding: 5px;

  form {
    float: right;
    margin-right: 50px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 7px 7px 5px 0 rgba(30, 30, 50, 0.7);
    padding: 30px;

    h3 {
      color: #843534;
    }

    @media (max-width: $break-width) {
      float: none;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: $min-width) {
      margin: 10px auto auto auto;
      width: auto;
    }

    p {
      font-size: 14pt;
    }

    div {
      margin-top: 5px;
    }

    button {
      width: 100%;
      margin-top: 5px;
    }

    .btn-cancel {
      border: 1px solid darkgray;
    }

    a {
      color: #122b40;
    }

    div.box {
      margin: 5px 0 0 0;
      border: 1px solid lightgray;
      border-radius: 0 4px 4px 0;
      background-color: white;
      padding: 5px 15px 5px 15px;
      font-size: 10pt;
      * {
        vertical-align: baseline;
      }
    }

    .fa {
      width: 16px;
    }
  }
}
