form {
  button {
    width: 100%;
    margin-top: 5px;
  }

  .btn-cancel {
    border: 1px solid darkgray;
  }

  div {
    margin-top: 5px;
  }

  a {
    color: #122b40;
  }

  .box {
    background-color: white;
    border: 1px solid lightgray;
    padding: 5px;
  }
}
