$image-path: "resource/image";
$container-width: 1200px;
$header-height: 100px;
$footer-height: 50px;
$max-width: 1200px;
$min-break-width: 549px;
$min-width: 480px;
$break-width: 767px;

.auth {
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  background-color: darkred;

  header {
    width: 100%;
    max-width: $max-width;
    height: $header-height;
    background: url("#{$image-path}/logo_atos_white.svg") 5px center no-repeat;
    background-size: 150px;
    color: white;
    position: relative;

    h1 {
      position: absolute;
      left: 170px;
      top: 25%;
      transform: translateY(-25%);

      @media (max-width: $break-width) {
        font-size: 24pt;
      }

      @media (max-width: $min-break-width) {
        font-size: 18pt;
      }
    }
  }

  main {
    flex: 1;
    background: url("#{$image-path}/bg.jpg") left top no-repeat;
    background-size: cover;
    top: $header-height;

    & > div {
      max-width: $max-width;
      margin: 100px auto 50px auto;
      padding: 5px;

      form {
        float: right;
        margin-right: 50px;
        width: 500px;
        border-radius: 5px;
        border: 1px solid gray;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 7px 7px 5px 0 rgba(30, 30, 50, 0.7);
        padding: 30px;

        h3 {
          color: #843534;
        }

        @media (max-width: $break-width) {
          float: none;
          margin-right: auto;
          margin-left: auto;
        }

        @media (max-width: $min-width) {
          margin: 10px auto auto auto;
          width: auto;
        }

        p {
          font-size: 14pt;
        }

        div {
          margin-top: 5px;
        }

        button {
          width: 100%;
          margin-top: 5px;
        }

        .btn-cancel {
          border: 1px solid darkgray;
        }

        a {
          color: #122b40;
        }

        div.box {
          margin: 5px 0 0 0;
          border: 1px solid lightgray;
          border-radius: 0 4px 4px 0;
          background-color: white;
          padding: 5px 15px 5px 15px;
          font-size: 10pt;
          * {
            vertical-align: baseline;
          }
        }

        .fa {
          width: 16px;
        }
      }
    }
  }

  footer {
    height: $footer-height;
    div {
      * {
        vertical-align: baseline;
      }
      padding: 5px;
      max-width: $max-width;
      color: white;
      font-size: 12pt;
      margin: 10px auto auto auto;
      text-align: center;
    }

    img {
      height: 15px;
    }
  }
}