<form [formGroup]="forgottenPasswordForm" (ngSubmit)="requestReset()" novalidate>
  <div class="h3">Forgotten Password</div>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input class="form-control" id="email" formControlName="email"
           placeholder="Please enter your registered email addresses" pammLowerCase>
  </div>
  <div class="error" *ngIf="submitted && forgottenPasswordForm.controls.email.errors?.required">
    Please enter your registered email address
  </div>
  <div class="error" *ngIf="forgottenPasswordForm.controls.email.errors?.email">
    Please correct the entered email address
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Request Password Reset</button>
    <button class="btn btn-Cancel" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
