<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
    <input class="form-control error" formControlName="username"
           placeholder="User Name (email address)" pammLowerCase aria-label="Username">
  </div>
  <div class="error" *ngIf="submitted && loginForm.controls.username.errors?.required">
    Please enter your registered email address
  </div>
  <div class="error" *ngIf="loginForm.controls.username.errors?.email">
    Please correct the entered email address
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
    <input class="form-control" formControlName="password" placeholder="Password" type="password" aria-label="password">
  </div>
  <div class="error" *ngIf="submitted && loginForm.controls.password.errors?.required">
    Please enter the your password
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">LOGIN</button>
    <div class="error" *ngIf="hasAuthenticationError">
      Please check your username and password and try again
    </div>
  </div>

  <div>
    <i class="fa fa-fw fa-user-circle-o"></i> <a [routerLink]="['../register']">Don't have an account? Register</a>
  </div>
  <div><i class="fa fa-fw fa-lock"></i> <a [routerLink]="['../forgotten-password']">Forgotten password</a></div>
</form>