$image-path: "/resource/image";

@import "variables";
@import "logo";
@import "bootstrap-override";

html, body {
  height: 100%;
}

.centred {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #0066a1
}

label {
  font-size: small;

  &.required:after {
    content: " *" !important;
    color: #b20000;
  }

  // for Radio or checkbox, add border and background as per government standard */
  &.prompt {
    font-weight: normal;
    margin-right: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;

    input {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

div.error {
  border-top: 1px solid $error;
  color: $error;
  font-size: 10pt;
  font-weight: bold;
}

a, [type="submit"] {
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
  color: gray;
}