<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="top-border" novalidate>
  <div class="h3">Reset Password</div>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-key">*</i></span>
    <input class="form-control" type="password" formControlName="password" aria-label=="password"
           placeholder="New Password">
  </div>
  <div class="error" role="alert" *ngIf="submitted && resetPasswordForm.controls.password.errors?.required">
    Please enter a password
  </div>
  <div class="error" role="alert" *ngIf="resetPasswordForm.controls.password.errors?.password">
    Password needs to be a minimum of of characters and include at least 1 number
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-key fa-fw">*</i></span>
    <input class="form-control" type="password" formControlName="passwordConfirm"
           aria-label="Confirm password" placeholder="Retype the password to confirm">
  </div>
  <div class="error" role="alert" *ngIf="submitted && resetPasswordForm.controls.passwordConfirm.errors?.required">
    Please confirm your password
  </div>
  <div class="error" role="alert"
       *ngIf="!resetPasswordForm.controls.passwordConfirm.errors?.required
       && (resetPasswordForm.controls.passwordConfirm.errors?.match || resetPasswordForm.controls.password.errors?.match)
       && resetPasswordForm.controls.password.value !== resetPasswordForm.controls.passwordConfirm.value">
    The entered passwords do not match
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock fa-fw">*</i></span>
    <input class="form-control" formControlName="verificationCode" aria-label="Verification Code"
           placeholder="Validation Code">
  </div>
  <div class="error" role="alert" *ngIf="submitted && resetPasswordForm.controls.verificationCode.errors?.required">
    Please enter the verification code from your email
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Reset Password</button>
    <div class="error" *ngIf="hasAuthenticationError">
      Please check the validation code
    </div>
  </div>
</form>
