@import pamm.domain.user.model.User
@(user: User, baseUrl: String, token: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear @user.getForename
        </p>
        <p>
            Your account for Atos [Your Project] has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a href="@baseUrl/activate/@token/user">Activation Link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>ATOS</em>
        </p>
    </body>
</html>