@import pamm.domain.user.model.User
@(user: User, baseUrl: String, token: String, verificationCode: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear @user.getForename
        </p>
        <p>
            A request has been made to reset your password.  Please click the following URL to continue:
        </p>
        <p><a href="@baseUrl/#/user/auth/reset-password/@token">Reset Password Link</a></p>
        <p>
            Please use the following verificationCode: @verificationCode
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>ATOS Learning Fast</em>
        </p>
    </body>
</html>